{% extends 'master.html' %}
{% block title %}
    <title>Home</title>
{% endblock %}


{% block content %}
    <h2 class="text-center text-danger">Welcome to Mara Resort</h2>
    <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque excepturi fugit harum, illo iure magnam magni nam nobis odio porro? Adipisci assumenda deserunt error esse inventore minus natus nihil quis!</span><span>Adipisci aliquid animi cupiditate eligendi facere fugit impedit modi numquam odio, provident quam quo reiciendis tempore? A accusamus consectetur debitis nemo, non odit pariatur perferendis quod? Aperiam est molestiae sapiente?</span><span>Ab at, blanditiis cumque doloribus ex excepturi expedita explicabo harum in incidunt laborum modi nam nobis nulla officiis pariatur perspiciatis porro possimus praesentium qui quod ratione sapiente sint vero vitae.</span></p>
{% endblock %}